body {
    background: linear-gradient(180deg, rgb(27, 27, 29), rgb(61, 61, 61));
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.Titulo {
    font-family: 'Bungee Spice', cursive;

}
.subtitulo{
    display: flex;
    flex-direction: column;
    font-size: 40px;
    align-items: center;
    transition: 2s;
    padding-top: 0;
    
}
.comentario{
    color: aliceblue;
}
.subtitulo:hover{
    text-shadow: 4px 2px 5px white; 

}
.button{
    font-family: 'Marmelad', sans-serif;
    background-color: ;
    color: black;

}